@media (max-width: 768px) {
  .section-products {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
}

@media (max-width: 768px) {
  .div-product-item {
    width: 49%;
  }
}
@media (max-width: 644px) {
  .section-products {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 644px) {
  .div-product-item {
    width: 90%;
  }
}
